<div id="parent-div">
<form action="#" method="post">
    {% csrf_token %}
    <label>{{ question.id }}. </label>
    <label>{{ question.text }}</label><br>
    <input type="text" name="ans{{ question.id }}"><br><br>
    <button 
        hx-get="{% url 'survey:handler' cust_id question.id %}" 
        hx-trigger="click"
        hx-target="#parent-div"
        hx-swap="outerHTML"
        type="submit" 
        name="Next" 
        value="submit">
        Previous
    </button>
    {% if islast %}
        <button
            hx-get="{% url 'survey:close' %}" 
            hx-trigger="click"
            hx-target="#parent-div"
            hx-swap="outerHTML"
            type="submit" 
            name="Previous" 
            value="submit">
            Submit
        </button>
    {% else %}
        <button
            hx-post="{% url 'survey:handler' cust_id question.id %}" 
            hx-trigger="click"
            hx-target="#parent-div"
            hx-swap="outerHTML"
            type="submit" 
            name="Previous" 
            value="submit">
            Next
        </button>
    {% endif %}
</form>
</div>